{
  "plugins": ["@trivago/prettier-plugin-sort-imports"],
  "singleQuote": true,
  "trailingComma": "all",
  "tabWidth": 2,
  "bracketSpacing": true,
  "importOrder": ["^[./]"],
  "importOrderSeparation": false, 
  "importOrderSortSpecifiers": true
}
